// Color Pallette
$color-black-true: #000000;
$color-black: #333333;
$color-gray: #6A6A6A;
$color-white: #FFFFFF;

// Fonts
$font-Lato: 'Lato', sans-serif;
$font-Raleway: 'Raleway', sans-serif;

// Base Settings
$base-bg-color: $color-white;
$base-fs: 16px;
$base-ff: $font-Lato;
$base-content-width: 980px;
