@import "variables";
@import "reset";

%font-family-Raleway {
  font-family: $font-Raleway;
}

%font-family-Lato {
  font-family: $font-Lato;
}

%link-fs {
  font-size: 1rem;
  line-height: 1.4;
}

%list-item-fs {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
}

html, body {
  min-height: 100vh;
}

html {
  font-size: $base-fs;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($color-black-true, 0);
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $color-white;
  color: $color-black;
  @extend %font-family-Lato;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

.content-wrapper {
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

hr {
  background-color: $color-gray;
  border: 0;
  height: 1px;
}

// Employee Header
.employee-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  &__name {
    @extend %font-family-Raleway;
    font-size: 3.75rem;
    font-weight: 100;
    line-height: 1;

    &--highlight {
      font-weight: 300;
    }
  }

  &__personal-link {
    margin-top: 10px;
  }

  &__links {
    &_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .list-item-delimiter {
        color: $color-gray;
        @extend %link-fs;
      }
    }
  }
}

// Links
.link {
  color: $color-gray;
  @extend %font-family-Raleway;
  @extend %link-fs;
  font-weight: 500;
  text-decoration: none;
}

// Delimiter
.list-item-delimiter {
  align-items: center;
  display: inline-flex;
  line-height: 1;
  margin: 0 10px;
}

// Employee Sections
.employee-sections {
  display: grid;
  margin: 20px 0;
}

// Section
.section {
  position: relative;

  & + .section {
    margin-top: 20px;
  }

  &__title {
    color: $color-gray;
    @extend %font-family-Raleway;
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1;
    text-transform: uppercase;
  }

  &__list {
    &_item {
      & + & {
        margin-top: 10px;
      }
    }
  }
}

// Section Value
.section-value {
  &__title {
    @extend %font-family-Raleway;
    font-size: 1.1rem;
    line-height: 1.2;
    margin: 5px 0;

    .list-item-delimiter,
    &_sub {
      font-weight: 400;
    }
  }

  &__time-and-location {
    color: $color-gray;
    @extend %font-family-Raleway;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1;
  }
}

// Section Additional Data
.section-additional-data {
  margin-top: 5px;

  &__list {
    &_item {
      @extend %list-item-fs;
    }
  }

  &__text {
    @extend %list-item-fs;
  }
}

// School
.school {
  &-graduated-degree {
    @extend %font-family-Raleway;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 5px;
  }
}

// Links
.links {
  &__list {
    &_item {
      .link {
        color: $color-black;
        font-size: 1rem;
        line-height: 1.2;
      }
    }
  }
}

// Skills Category Set
.skills-category-set {
  & + .skills-category-set {
    margin-top: 5px;
  }

  &__title {
    color: $color-gray;
    @extend %font-family-Raleway;
  }

  &__list {
    &_item {
      display: inline-block;

      &:not(:last-of-type) {
        &::after {
          content: "\2022";
        }
      }
    }
  }
}

// Achievements
.achievements__list {
  display: grid;
  @extend %list-item-fs;
  grid-template-columns: 80px auto;
  margin-top: 5px;
  row-gap: 5px;

  &_year {
    text-align: center;
  }
}

// Articles
.articles__list {
  counter-reset: articles;
  display: grid;
  @extend %list-item-fs;
  grid-template-columns: auto;
  margin-top: 5px;
  row-gap: 5px;

  &_item {
    counter-increment: articles;
    padding-left: 30px;
    position: relative;

    &::before {
      color: $color-gray;
      content: "\5b" counter(articles) "\5d";
      left: 0;
      position: absolute;
    }
  }
}

// Company
.company {
  &__description {
    &_position {
      @extend %font-family-Raleway;
      font-size: 1rem;
      line-height: 1.1;
      margin-bottom: 5px;
    }
  }

  &__achievements {
    &_list {
      &_item {
        padding-left: 30px;
        position: relative;

        & + & {
          margin-top: 5px;
        }

        &:before {
          content: "\2022";
          left: 0;
          position: absolute;
          text-align: center;
          width: 30px;
        }
      }
    }
  }
}

@import "responsive";
