<!DOCTYPE html>
<html dir="ltr" lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover">
    <meta charset="utf-8">
    <meta name="description" content="{{ page.meta.description }}">
    <meta name="robots" content="{{ page.meta.robots | join: ", " }}">
    <base href="{{ site.baseurl }}">
    <title>{{ 'now' | date: "%Y" }} {{ site.title }} - {{ page.title }} ({{ site.lang }})</title>
    <link rel="shortcut icon" href="{{ page.favicon }}" type="image/x-icon">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.data.manifest['main.css'] }}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="{{ page.meta.twitter.user_name }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="{{ page.meta.twitter.title }}" />
    <meta property="og:description" content="{{ page.meta.description }}" />
    <meta property="og:image" content="{{ site.url }}{{ page.meta.twitter.image }}" />
  </head>
  <body>
    <div class="lg:max-w-layout min-h-screen mx-auto my-0 print:max-w-full print:w-full relative">
      <header aria-labelledby="fullName" class="flex flex-col items-center py-5">
        <div id="fullName" class="font-accent font-thin text-6xl xs:text-center	sm:text-center">
          {{ page.employee.first_name }} <strong class="font-light">{{ page.employee.last_name }}</strong>
        </div>
        <div class="mt-2.5">
          <a class="link" href="{{ page.employee.personal_link.link }}">{{ page.employee.personal_link.display_name }}</a>
        </div>
        <ul class="flex flex-wrap justify-around xs:flex-col xs:items-center">
          <li>
            <a class="link" href="{{ page.employee.email.link }}">{{ page.employee.email.display_name }}</a>
          </li>
          <li class="list-item-delimiter text-base text-base-100 xs:hidden">&#124;</li>
          <li>
            <a class="link" href="{{ page.employee.phone.link }}">{{ page.employee.phone.display_name }}</a>
          </li>
        </ul>
      </header>
      <hr />
      <main class="grid my-5 employee-sections">
        <div>
          {% if page.employee.sections.education %}
            <section class="section" aria-labelledby="education">
              <h2 class="section-title" id="education">Education</h2>
              <dl>
                {% for school in page.employee.sections.education.schools %}
                  <div class="school section-item">
                    {% if school.graduated %}
                      <dt class="school-name">
                        <div class="school-title font-accent font-semibold leading-extra-tight my-2.5 text-lg">
                          {{ school.graduated.schoolName | upcase  }}
                        </div>
                        <div class="font-accent leading-none mb-2.5 text-base">
                          {{ school.graduated.degree }}
                        </div>
                        {% if school.graduated.date or school.graduated.location %}
                          <div class="school-graduated-at font-accent font-semibold leading-none text-base-100 text-sm">
                            {% if school.graduated.date %}
                              <time class="time" datetime="{{ school.graduated.date }}">{{ school.graduated.date | date: "%b %Y" }}</time>
                            {% endif %}
                            {% if school.graduated.date and school.graduated.location %}
                              <span class="list-item-delimiter">&#124;</span>
                            {% endif %}
                            {% if school.graduated.location %}
                              <span class="location">{{ school.graduated.location }}</span>
                            {% endif %}
                          </div>
                        {% endif %}
                      </dt>
                    {% endif %}
                    {% if school.subjects %}
                      <dd class="school-subjects mt-2.5">
                        <ul>
                          {% for subject in school.subjects %}
                            <li class="font-light leading-extra-tight text-base">{{ subject }}</li>
                          {% endfor %}
                        </ul>
                      </dd>
                    {% endif %}
                  </div>
                {% endfor %}
              </dl>
            </section>
          {% endif %}
          {% if page.employee.sections.links %}
            <section class="section" aria-labelledby="links">
              <h2 class="section-title" id="links">Links</h2>
              <div class="mt-2.5">
                <ul>
                  {% for link in page.employee.sections.links %}
                    <li class="font-light leading-extra-tight text-base">
                      {{ link.resource }}
                      <a class="link leading-extra-tight text-base text-base-200" target="_blank" href="{{ link.link }}">{{ link.display_name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </section>
          {% endif %}
          {% if page.employee.sections.skills %}
            <section class="section" aria-labelledby="skills">
              <h2 class="section-title" id="skills">Skills</h2>
              <dl>
                {% for skill in page.employee.sections.skills %}
                  <div class="section-item">
                    {% if skill.category %}
                      <dt>
                        <div class="font-accent font-semibold leading-extra-tight my-2.5 text-lg">
                          {{ skill.category | upcase  }}
                        </div>
                      </dt>
                    {% endif %}
                    {% if skill.category_sets %}
                      <dd class="mt-2.5">
                        <ul>
                          {% for category_set in skill.category_sets %}
                            <li class="skills-category-set font-light leading-extra-tight text-base">
                              <h4 class="font-accent text-base-100">{{ category_set.title }}</h4>
                              <ul>
                                {% for item in category_set.items %}
                                  <li class="inline-block skill">
                                    {{ item }}
                                  </li>
                                {% endfor %}
                              </ul>
                            </li>
                          {% endfor %}
                        </ul>
                      </dd>
                    {% endif %}
                  </div>
                {% endfor %}
              </dl>
            </section>
          {% endif %}
        </div>
        <div class="employee-expirience">
          {% if page.employee.sections.experience %}
            <section class="section" aria-labelledby="experience">
              <h2 class="section-title" id="experience">Experience</h2>
              <dl>
                {% for company in page.employee.sections.experience %}
                  <div class="company section-item">
                    <dt>
                      <div class="font-accent font-semibold leading-extra-tight my-2.5 text-lg">
                        {{ company.company | upcase }}
                      </div>
                      {% if company.position %}
                        <div class="font-accent leading-extra-extra-tight mb-2.5 text-base">
                          {{ company.position | join: ", "}}
                        </div>
                      {% endif %}
                      {% if company.date_from or company.location %}
                        <div class="font-accent font-semibold leading-none text-base-100 text-sm">
                          {% if company.date_from %}
                            <time class="time" datetime="{{ company.date_from }}">{{ company.date_from | date: "%b %Y" }}</time>
                            {% if company.date_to %}
                              &#8211;&nbsp;<time class="time" datetime="{{ company.date_to }}">{{ company.date_to | date: "%b %Y" }}</time>
                            {% else %}
                              &#8211;&nbsp;<span>Present</span>
                            {% endif %}
                          {% endif %}
                          {% if company.date_from and company.location %}
                            <span class="list-item-delimiter">&#124;</span>
                          {% endif %}
                          {% if company.location %}
                            <span class="location">{{ company.location }}</span>
                          {% endif %}
                        </div>
                      {% endif %}
                    </dt>
                    {% if company.achievements %}
                      <dd class="mt-2.5">
                        <ul>
                          {% for achievement in company.achievements %}
                            <li class="achievement font-light leading-extra-tight pl-8 relative text-base">{{ achievement }}</li>
                          {% endfor %}
                        </ul>
                      </dd>
                    {% endif %}
                  </div>
                {% endfor %}
              </dl>
            </section>
          {% endif %}
          {% if page.employee.sections.research %}
            <section class="section" aria-labelledby="research">
              <h2 class="section-title" id="research">Research</h2>
              <dl>
                {% for research in page.employee.sections.research %}
                  <div class="section-item">
                    <dt>
                      <div class="font-accent font-semibold leading-extra-tight my-2.5 text-lg">
                        <span>{{ research.place | upcase }}</span>
                        {% if research.title %}
                          <span class="list-item-delimiter font-normal">&#124;</span>
                          <span class="font-normal">{{ research.title }}</span>
                        {% endif %}
                      </div>
                      {% if research.date_from or research.location %}
                        <div class="font-accent font-semibold leading-none text-base-100 text-sm">
                          {% if research.date_from %}
                            <time class="time" datetime="{{ research.date_from }}">{{ research.date_from | date: "%b %Y" }}</time>
                            {% if research.date_to %}
                              &#8211;&nbsp;<time class="time" datetime="{{ research.date_to }}">{{ research.date_to | date: "%b %Y" }}</time>
                            {% else %}
                              &#8211;&nbsp;<span>Present</span>
                            {% endif %}
                          {% endif %}
                          {% if research.date_from and research.location %}
                            <span class="list-item-delimiter">&#124;</span>
                          {% endif %}
                          {% if research.location %}
                            <span class="location">{{ research.location }}</span>
                          {% endif %}
                        </div>
                      {% endif %}
                    </dt>
                    {% if research.description %}
                      <dd class="mt-2.5">
                        <div class="font-light leading-extra-tight text-base">
                          {{ research.description }}
                        </div>
                      </dd>
                    {% endif %}
                  </div>
                {% endfor %}
              </dl>
            </section>
          {% endif %}
          {% if page.employee.sections.achievements %}
            <section class="section" aria-labelledby="achievements">
              <h2 class="section-title" id="achievements">Achievements</h2>
              <dl class="font-light gap-y-2.5 grid grid-cols-achievement leading-extra-tight mt-2.5 text-base">
                {% for achievement in page.employee.sections.achievements %}
                  <dt class="text-center">{{ achievement.year }}</dt>
                  <dd>{{ achievement.description }}</dd>
                {% endfor %}
              </dl>
            </section>
          {% endif %}
          {% if page.employee.sections.articles %}
            <section class="section" aria-labelledby="articles">
              <h2 class="section-title" id="articles">Articles</h2>
              <ol class="articles font-light gap-y-2.5 grid grid-cols-auto leading-extra-tight mt-2.5 text-base">
                {% for article in page.employee.sections.articles %}
                  <li class="article pl-8 relative">{{article}}</li>
                {% endfor %}
              </ol>
            </section>
          {% endif %}
        </div>
      </main>
    </div>
  </body>
</html>
